
.gradle/8.6/checksums/checksums.lock
.gradle/8.6/checksums/md5-checksums.bin
.gradle/8.6/checksums/sha1-checksums.bin
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/8.6/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
build/classes/groovy/main/com/cloudbees/ticketing/config/SwaggerConfig.class
build/classes/groovy/main/com/cloudbees/ticketing/controller/TicketController.class
build/classes/groovy/main/com/cloudbees/ticketing/controller/UserController.class
build/classes/groovy/main/com/cloudbees/ticketing/dto/TicketDTO.class
build/classes/groovy/main/com/cloudbees/ticketing/dto/UserDTO.class
build/classes/groovy/main/com/cloudbees/ticketing/model/UserEntity.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_getAllReceipts_closure4.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_getReceiptById_closure3.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_getReceiptByUserId_closure1.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_getReceiptByUserId_closure2.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_removeReceiptByUserId_closure5.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl.class
build/classes/groovy/main/com/cloudbees/ticketing/service/UserService.class
build/classes/groovy/main/com/cloudbees/ticketing/service/UserServiceImpl$_getUserSeat_closure1.class
build/classes/groovy/main/com/cloudbees/ticketing/service/UserServiceImpl$_getUsersSeatBySection_closure2.class
build/classes/groovy/main/com/cloudbees/ticketing/service/UserServiceImpl$_modifyUserSeat_closure4.class
build/classes/groovy/main/com/cloudbees/ticketing/service/UserServiceImpl$_modifyUserSeat_closure5.class
build/classes/groovy/main/com/cloudbees/ticketing/service/UserServiceImpl$_removeUser_closure3.class
build/classes/groovy/main/com/cloudbees/ticketing/service/UserServiceImpl.class
build/classes/groovy/test/com/cloudbees/ticketing/service/TicketControllerSpec.class
build/reports/tests/test/classes/com.cloudbees.ticketing.service.TicketControllerSpec.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/index.html
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/com.cloudbees.ticketing.service.html
build/resources/main/data.sql
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/test-results/test/TEST-com.cloudbees.ticketing.service.TicketControllerSpec.xml
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
build/classes/groovy/main/com/cloudbees/ticketing/controller/TrainController.class
build/classes/groovy/main/com/cloudbees/ticketing/dto/ReceiptDTO.class
build/classes/groovy/main/com/cloudbees/ticketing/dto/TicketDTO.class
build/classes/groovy/main/com/cloudbees/ticketing/dto/TrainDTO.class
build/classes/groovy/main/com/cloudbees/ticketing/model/Train.class
build/classes/groovy/main/com/cloudbees/ticketing/repository/TrainRepository.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_getAllReceipts_closure4.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_getReceiptById_closure3.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_getReceiptByUserId_closure1.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_getReceiptByUserId_closure2.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl$_removeReceiptByUserId_closure5.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TicketServiceImpl.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TrainService.class
build/classes/groovy/main/com/cloudbees/ticketing/service/TrainServiceImpl.class
